@media (max-width: 768px){
    #title {
        width: 50px;
        margin-left: 80px;
    }
    ul#nav {
        width: 50px;
        margin-top: 200px;
        margin-right: 300px;
    }
    #nav li {
        display:inline;
        padding: 0 20px;
        cursor: pointer;
    }
    #nav a {
    
        padding: 0 20px;
        cursor: pointer;
        margin: 20px;
        text-decoration: none;
    }
    
    #nav li:hover {
        color: #fff;
        background-color: #333;
        border-radius: 5px;
        border-color: #333;
    }
    #nav a:hover {
        color: #fff;
        background-color: #333;
        border-radius: 5px;
        border-color: #333;
    }
    
    #nav li:not(:last-of-type) {
        margin-right: 10px;
    }
    #img1 {
        width: 300px;
        margin-top: -350px;
        margin-right: 70px;
    }
    #imgtext {
        width: 500px;
        margin-left: -100px;
        margin-top: 10px;
        font-size: large;
    }
    #imgtext1 {
        width: 300px;
        margin-left: -370px;
        margin-top: 50px;
        font-size: medium;
    }
    #button1 {
        margin-right: 90px;
        margin-top: 120px;
    }
    #prava {
        width: 200px;
        margin-left: 50px;
    }
    #cbyaz {
        display: none;
    }
}